.about_form {
  text-align: center;
  margin: 2%;
  margin-left: 25%;
  padding-bottom: 2%;
  width: 50vw;
  border-style: solid;
  border-color: grey;
  border-radius: 1px;
  border-width: 1px;
}

.welcome {
  font-size: 30px;
  font-family: "Shantell Sans", cursive;
}

@media (max-width: 414px) {
  .about_form {
    width: 100%;
    margin-left: 0;
    margin-top: 10%;
  }
  .welcome {
    font-size: 25px;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .welcome {
    font-size: 25px;
  }
  .about_form {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }
}
