.home_info h1 {
  font-family: "Shantell Sans", cursive;
  font-size: 3vw;
}

.home_img img {
  margin-top: 10%;
  width: 20vw;
  height: 20vw;
}

.home_info {
  text-align: left;
  font-size: 1.5vw;
  font-family: "Golos Text", sans-serif;
}

.home_info_etra {
  text-align: left;
  font-family: "Golos Text", sans-serif;
}
.home_info_etra h2 {
  font-family: 2vw;
}
.home_info_etra p {
  font-family: 2vw;
}

.home_co_title {
  font-weight: 700;
}

.home_co_detail {
  
}
