.HomeContainer {
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 3%;
  margin-right: 3%;
}

.home_title {
  font-family: "Shantell Sans", cursive;
  font-size: 3vw;
}

.my_pic {
  margin-top: 15%;
  width: 70%;
  height: 70%;
}

.home_info {
  text-align: left;
  font-size: 1.5vw;
  font-family: "Golos Text", sans-serif;
}

.home_info_etra {
  text-align: left;
  font-family: "Golos Text", sans-serif;
}
.home_subtitle {
  font-family: 1.5vw;
}

.home_co_title {
  font-weight: 700;
}

@media (max-width: 600px) {
  .rm {
    display: none;
  }
  .home_info {
    font-size: 3vw;
  }
}
