.ResumeContainer {
  margin: 6%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.ResumeContainer img {
  width: 13vw;
  height: 13vw;
  margin-top: 20%;
}

.ResumeContainer p {
  text-align: left;
}

.work_title {
  font-weight: 700;
  font-size: 1.5vw;
  font-family: "Golos Text", sans-serif;
}
.work_detail {
  font-size: 1.2vw;
  font-family: "Golos Text", sans-serif;
}

.work_time {
  font-size: 1vw;
}

@media (max-width: 600px) {
  .work_title {
    font-size: 5vw;
  }
  .work_detail {
    font-size: 4vw;
  }
  .work_time {
    font-size: 3vw;
  }
}
