.ResumeContainer {
  margin: 6%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.work_img {
  width: 13vw;
  height: 13vw;
  margin-top: 20%;
}

.work_title {
  font-weight: 700;
  font-size: 22px;
  font-family: "Golos Text", sans-serif;
  text-align: left;
}
.work_detail {
  font-size: 18px;
  font-family: "Golos Text", sans-serif;
  text-align: left;
}

.work_time {
  font-size: 15px;
  text-align: left;
}

@media (max-width: 600px) {
  .work_title {
    font-size: 28px;
  }
  .work_detail {
    font-size: 20px;
  }
  .work_time {
    font-size: 18px;
  }
}
