.ProjectContainer {
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
}

.pro_title {
  font-family: "Shantell Sans", cursive;
}

.ProjectContainer a {
  text-decoration: none;
}
